html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

canvas {
    border: 2px black solid;
}

table {
    margin: 0 auto; //centers the table
}

#selectedPoint, #colorMessage, #messageBox {
    text-align: left;
}

#sizeMessage{
    text-align: right;
}

#elapsedTime, #iterationMessage {
    width: 23em;
    text-align: right;
}

button {
    width: 5em;
}

#filenameForm {
    visibility: hidden; // used later
}

#width, #iterations{
    width: 60px;
}
